/* تحديد نمط عنصر الجسم */
body {
    font-family: Arial, sans-serif; 
    background-color: #121212; 
    color: #ffffff; 
    text-align: center; 
}
/* تحديد نمط حاوية الجدول */
.table-container {
    margin: 20px auto; 
    max-width: 600px; 
    background-color: #1c1c1c; 
    padding: 20px; 
}
/* تحديد نمط العناوين */
h1 {
    font-size: 24px;
    margin-bottom: 20px; 
    color: #877fd39d; 
}
/* تحديد نمط الجدول */
table {
    width: 100%; 
    text-align: center; 
    margin: auto; 
}
/* تحديد نمط عناصر thead */
thead {
    background-color: #333; 
    color: #fff; 
}
/* تحديد نمط الخلايا في الجدول */
td {
    padding: 20px; 
    border: 1px solid #444; 
}