body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('C:/Users/hp/Desktop/Programing_CN281/m113.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    background-color: #707070b0;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.671);
}

h1 {
    color: #ffffff;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    border: 1px solid #000000;
    padding: 15px 30px;
    background-color: #ffffff;
    cursor: pointer;
    margin-bottom:50px;
}

li:hover {
    background-color: #dadadab7;
}

li.active {
    background-color: #e9e9e9;
}

a {
    text-decoration: none;
    color: #333;
}